<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.edhuar.mercaton">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logomercadopoly"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".Login"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ListaClientes"
            android:screenOrientation="portrait"/>
        <activity android:name=".MenuCliente"
            android:screenOrientation="portrait"/>
        <activity android:name=".Perfil"
            android:screenOrientation="portrait"/>
        <activity android:name=".HistoricoExhibicion"
            android:screenOrientation="portrait"/>
        <activity android:name=".HistoricoCompras"
            android:screenOrientation="portrait"/>
        <activity android:name=".Visita"
            android:screenOrientation="portrait"/>
        <activity android:name=".MedicionExhibicion"
            android:screenOrientation="portrait"/>
        <activity android:name=".MedicionFotos"
            android:screenOrientation="portrait"/>
        <activity android:name=".VerificarFotos"
            android:screenOrientation="portrait"/>
        <activity android:name=".FullSizeFoto"
            android:screenOrientation="portrait"/>
        <activity android:name=".Competencia"
            android:screenOrientation="portrait"/>
        <activity android:name=".Comentarios"
            android:screenOrientation="portrait"/>
        <activity android:name=".Galeria"
            android:screenOrientation="portrait"/>
        <activity android:name=".GaleriaSemanal"
            android:screenOrientation="portrait"/>
        <activity android:name=".FullScreenViewActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ListaBuscaClientes"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>